<div style="margin-top:10px">
    <nav class="arm5eTabs sheet-tabs tabs {{#if verticalTabs}} vertical{{/if}} tabArrow flexrow"
     aria-roledescription="{{localize "SHEETS.FormNavLabel"}}" style="margin-bottom:5px">
    {{#each tabs as |tab|}}
        <a data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
            {{#if tab.cssClass}}class="marginsides20 {{tab.cssClass}}"{{/if}}
            {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
            <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
            {{#if tab.icon}}<div class="flex0"><i class="{{tab.icon}}" inert></i></div>{{/if}}
            {{#if tab.label}}<span>{{localize tab.label}}</span>{{/if}}
            <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        </a>
    {{/each}}

    </nav>
</div>