<div class="mainPlayer">
  <div class="header-background">
    <img src="systems/arm5e/assets/PC/header150.png" />
  </div>
  <header class="sheet-header marginsides32">
    <img
      class="profile-img"
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="bigname">
        <div class="flexrow">
          <input
            class="flex1"
            name="name"
            type="text"
            value="{{ actor.name }}"
            title="{{ actor.name }}"
            placeholder="Name"
          />
          {{#if system.states.creationMode}}
          <div class="flex0 padding10" style="width: 36px">
            <a class="clickable remove-creationMode" data-action="removeCreationMode">
              <img
                src="systems/arm5e/assets/icons/creation-mode.svg"
                title="{{localize "arm5e.sheet.edition.creationMode"}}"
                style="border: 0px; height: 18px; min-height: 30px; min-width: 30px"
              />
            </a>
          </div>
          {{/if}}
          {{#if system.states.pendingCrisis}}
          <div class="flex0 padding10" style="width: 36px">
            <a
              class="rollable"
              data-action="roll"
              data-roll="crisis"
              data-year="{{ system.lastCrisis.year }}"
              data-season="{{ system.lastCrisis.season }}"
              title="{{localize "arm5e.aging.crisis.tooltip"}}"
              style="font-size: 20pt"
            >
              <i class="ars-Icon_Aging_crisis"></i>
            </a>
          </div>
          {{/if}}
          {{#if system.states.confidencePrompt}}
          <div class="flex0 padding10" style="width: 36px">
            <a
              class="clear-confidencePrompt"
              data-action="clearConfidencePrompt"
              title="{{localize "Confidence prompt"}}"
              style="font-size: 20pt"
            >
              <i class="fas fa-user-plus"></i>
            </a>
          </div>
          {{/if}}
          {{#if system.twilight.stage}}
          <div class="flex01" style="padding: 5px">
            <a
              class="twilight-episode clickable"
              data-action="twilightEpisode"
              data-year="{{ datetime.year }}"
              data-season="{{ datetime.season }}"
              data-target="{{ system.twilight.strength }}"
              title="{{ system.twilight.tooltip }}"
              style="display: block; height: fit-content; width: fit-content"
            >
              <img
                src="systems/arm5e/assets/icons/Icon_Warping.png"
                style="width: 36px; height: 36px; border: none"
              />
            </a>
            <div
              class="twilight-icon"
              style="
                position: relative;
                top: -38px;
                left: 14px;
                font-size: 15pt;
                font-weight: bold;
                pointer-events: none;
              "
            >
              {{ system.twilight.stage }}
            </div>
          </div>
          {{/if}}
          {{#if devMode}}
          <div class="flex0 padding10" style="width: 24px;font-size: 18pt">
            <a class="migrate" data-action="migrateActor" title="Migrate actor">
              <i class="fas fa-arrow-up"></i>
            </a>
          </div>
          {{/if}}
        </div>
      </h1>

      <div class="flexrow flex-between">
        <div class="flexrow">
          <span class="flexrow" style="padding-top: 4px">
            <h2 class="covenantname" style="max-width: 365px">
              <input
                class="covenant-link"
                type="text"
                value="{{ system.covenant.value }}"
                data-type="String"
                title="{{ system.covenant.value }}"
              />
            </h2>
            <div style="padding-top: 10px; padding-left: 3px; max-width: 15px">
              {{#if (eq system.covenant.linked true)}}
              <a
                class="flexrow0 actor-link"
                data-action="openLinkedActor"
                title="Linked to covenant"
                data-actorid="{{ system.covenant.actorId }}"
              >
                <i class="fas fa-link fa-sm"></i>
              </a>
              {{else}}
              <a class="flexrow0" title="Not linked to covenant">
                <i class="fas fa-unlink fa-sm"></i>
              </a>
              {{/if}}
            </div>
          </span>
        </div>
        <span class="flex0" style="padding-top: 4px">
          <label
            for="system.charType.value"
            class="smallTitle"
            style="padding-left: 24px"
            >{{localize "arm5e.sheet.charType"}}</label
          >
          <select class="charType" name="system.charType.value" data-type="String">
            {{selectOptions config.character.charTypes selected=system.charType.value labelAttr="label" localize=true}}
          </select>
        </span>
      </div>

      <div class="grid grid-4col">
        <div class="resource flex-group-center backSection">
          <label
            for="system.age.value"
            class="smallTitle marginbot6"
            >{{localize "arm5e.sheet.age"}}</label
          >
          <div class="resource-content flexrow flex-center flex-between margintop6">
            <input
              type="text"
              name="system.age.value"
              value="{{numberFormat system.age.value decimals=0 }}"
              data-dtype="Number"
              {{ui.creationMode.edit}}
              style="flex: 0.6; margin-left: 8px; margin-right: 24px"
              class="select-on-focus slim"
            />
            (<input
              type="text"
              name="system.apparent.value"
              value="{{numberFormat system.apparent.value decimals=0 }}"
              data-dtype="Number"
              style="flex: 0.6"
              class="select-on-focus slim"
            />)
          </div>
        </div>
        <div class="resource flex-group-center backSection">
          <label
            for="datetime.seasonLabel"
            class="smallTitle"
            >{{localize "arm5e.sheet.season"}}</label
          >
          <div class="resource-content flexrow flex-center flex-between margintop6">
            <input type="text" value="{{ datetime.seasonLabel }}" readonly data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center backSection">
          <label for="datetime.year" class="smallTitle">{{localize "arm5e.sheet.year"}}</label>
          <div class="resource-content flexrow flex-center flex-between margintop6">
            <input type="number" value="{{ datetime.year }}" readonly data-dtype="Number" />
          </div>
        </div>
        {{#if (ne system.charType.value "grog")}}
        <div class="resource flex-group-center backSection">
          <label
            for="system.con.score"
            class="smallTitle"
            >{{localize "arm5e.sheet.confidence"}}</label
          >
          <div class="resource-content flexrow flex-center flex-between margintop6">
            <input
              type="number"
              name="system.con.score"
              value="{{ system.con.score }}"
              data-dtype="Number"
              style="flex: 0.6; margin-left: 8px; margin-right: 24px"
            />
            (<input
              type="number"
              name="system.con.points"
              value="{{ system.con.points }}"
              data-dtype="Number"
              style="flex: 0.6"
            />)
          </div>
        </div>
        {{/if}}
      </div>

      {{> "systems/arm5e/templates/actor/parts/actor-characteristics.html" charac=characList}}
    </div>
  </header>
</div>
