<div class="backSection {{list}} {{visibility}}">
  <li class="filter-item toggle-display flexrow" draggable="false" style="padding-bottom: 8px;">
    <!--style=" {{lookup display list}}"-->
    <div class="header-fields">
      <div class="flexrow flex-between padding12x5">
        <span class="flexrow">
          <label for="techniqueFilter" class="" style="padding-left: 24px">{{localize
              "arm5e.sheet.technique"
            }}</label>
          <select
            name="techniqueFilter"
            data-type="String"
            style="flex: 0 0 100px"
            class="technique-filter textValue"
            data-list="{{list}}"
            data-category="{{category}}"
          >
            {{#with (lookup (lookup ui.filters category) list)}}
              {{selectOptions
                @root.config.magic.techniques
                selected=techniqueFilter
                labelAttr="label"
                blank=""
              }}
            {{/with}}
          </select>
        </span>
        <span class="flexrow">
          <label for="system.formFilter" class="" style="padding-left: 24px">{{localize
              "arm5e.sheet.form"
            }}</label>
          <select
            name="formFilter"
            data-type="String"
            class="form-filter textValue"
            data-list="{{list}}"
            data-category="{{category}}"
          >
            {{#with (lookup (lookup ui.filters category) list)}}
              {{selectOptions
                @root.config.magic.forms
                selected=formFilter
                labelAttr="label"
                blank=""
              }}
            {{/with}}
          </select>
        </span>
        {{#unless topic}}
          <span class="flexrow">
            <label
              for="system.levelFilter"
              class=""
              style="padding-left: 24px"
            >{{localize "arm5e.sheet.level"}}</label>
            <select
              name="levelOperator"
              data-type="Number"
              class="levelOperator-filter numValue"
              data-list="{{list}}"
              data-category="{{category}}"
            >
              {{#with (lookup (lookup ui.filters category) list)}}
                {{selectOptions
                  @root.config.genericOptions.filterOperator
                  selected=levelOperator
                  nameAttr="key"
                  valueAttr="key"
                  labelAttr="label"
                }}
              {{/with}}
            </select>
            {{#with (lookup (lookup ui.filters category) list)}}
              <input
                type="number"
                name="levelFilter"
                value="{{levelFilter}}"
                data-dtype="Number"
                style="margin-right: 36px"
                class="level-filter numValue"
                data-list="{{../list}}"
                data-category="{{../category}}"
              />
            {{/with}}
          </span>
        {{else}}
          <span class="flexrow">
            <label
              for="system.levelFilter"
              class=""
              style="padding-left: 12px"
            >{{localize "arm5e.sheet.quality"}}</label>
            <select
              name="qualityOperator"
              data-type="Number"
              class="qualityOperator-filter numValue"
              data-list="{{list}}"
              data-category="{{category}}"
            >
              {{#with (lookup (lookup ui.filters category) list)}}
                {{selectOptions
                  @root.config.genericOptions.filterOperator
                  selected=qualityOperator
                  nameAttr="key"
                  valueAttr="key"
                  labelAttr="label"
                }}
              {{/with}}
            </select>
            {{#with (lookup (lookup ui.filters category) list)}}
              <input
                type="number"
                name="qualityFilter"
                value="{{qualityFilter}}"
                data-dtype="Number"
                style="margin-right: 12px"
                class="quality-filter numValue"
                data-list="{{../list}}"
                data-category="{{../category}}"
              />
            {{/with}}
          </span>
        {{/unless}}
      </div>
    </div>
  </li>
</div>