<div class="template-item-box flexrow flex01">
  <div id="template-content">
    <label class="template-item-label">{{localize "arm5e.sheet.ability"}}</label>
    <select
      data-type="String"
      class="item-ability-key template-select"
      data-id="{{id}}"
      data-index="{{compIdx}}"
    >
      {{log "this.selection: " this.extendedKey}}
      {{selectOptions
        this.selection
        selected=this.extendedKey
        labelAttr="label"
        valueAttr="extendedKey"
        nameAttr="extendedKey"
      }}
    </select>
    {{#if (lookup (lookup @root.config.LOCALIZED_ABILITIES key) "option")}}
      <div class="flexcol">
        <label class="resource label-light">{{localize "arm5e.sheet.skill.abilityOption"}}</label>
        <input
          type="text"
          name="system.magicSystem.templates.{{this.id}}.components.{{this.compIdx}}.option"
          class="resource-focus-wide template-option"
          data-id="{{id}}"
          data-key="{{this.key}}"
          data-index="{{compIdx}}"
          value="{{this.option}}"
        />
        <label class="resource label-light">{{localize "arm5e.sheet.label"}}</label>
        <input
          type="text"
          name="system.magicSystem.templates.{{this.id}}.components.{{this.compIdx}}.label"
          class="resource-focus-wide template-label"
          value="{{this.label}}"
        />
      </div>
    {{/if}}
    <div id="top-right-icon">
      <a
        class="template-item"
        data-action="delete"
        data-id="{{id}}"
        data-index="{{compIdx}}"
        title="Delete template"
      ><i class="icon-SmallIcon_Delete_Hand_Gesture"></i></a>
    </div>
  </div>
</div>