<div class="resource flex-group-center flex01 smallBackSection {{classes}}" title="{{cost.hint}}">
  {{#if (ne cost.detail "NONE")}}
    {{#if (eq cost.detail "QUALIFIER")}}
      <label for="system.cost.value" class="header-label">{{localize "arm5e.sheet.cost"}}</label>
      <select name="system.cost.value" data-type="String">
        {{selectOptions
          config.item.costs
          selected=system.cost.value
          localize=true
          labelAttr="label"
        }}
      </select>
    {{else}}
      <label for="system.cost.amount" class="header-label">{{localize "arm5e.sheet.cost"}}</label>
      <div class="resource-content flexrow flex-center flex-between margintop6">
        <input
          type="number"
          name="system.cost.amount"
          value="{{system.cost.amount}}"
          data-dtype="Number"
          class="{{classes}}"
          title="{{hint}}"
        />
      </div>
      <label class="smallTitle">{{cost.currency}}</label>

    {{/if}}

  {{/if}}
  <div class="resource">
    <label class="header-label">{{localize "arm5e.sheet.quantity"}}</label>
    <input
      type="number"
      name="system.quantity"
      value="{{system.quantity}}"
      class="modifier resource-focus"
      data-dtype="Number"
    />
  </div>
</div>