<div class="sheet-header-part">
  <div class="header-background">
    <img src="systems/arm5e/assets/item/{{ flavor }}_header.png" />
  </div>
  <header class="sheet-header marginItemPart">
    <img
      class="item-img"
      src="{{ item.img }}"
      data-action="editImage"
      data-edit="img"
      title="{{ item.name }}"
    />
    <div class="header-fields">
      <h1 class="bigname">
        <input name="name" type="text" value="{{ item.name }}" placeholder="Name" {{ noEdit }} />
      </h1>

      <div class="resource flexcol" style="margin-top: 8px">
        <label class="bold">{{localize 'arm5e.sheet.owner'}}</label>
        <input
          type="text"
          name="system.owner"
          value="{{ system.owner }}"
          data-dtype="String"
          {{
          noEdit
          }}
        />
      </div>

      <div class="resource flexcol" style="margin-top: 8px">
        <label class="bold">{{localize 'arm5e.sheet.location'}}</label>
        <input
          type="text"
          name="system.location"
          value="{{ system.location }}"
          data-dtype="String"
          {{
          noEdit
          }}
        />
      </div>

      <div class="grid grid-3col" style="margin-top: 8px">
        <div class="resource flexcol flexrow">
          <label for="system.quality" class="bold">{{localize 'arm5e.sheet.quality'}}</label>
          <input
            type="number"
            name="system.quality"
            value="{{ system.quality }}"
            data-dtype="Number"
            class="numberformat select-on-focus"
            {{
            noEdit
            }}
          />
        </div>
        <div class="resource flexcol flexrow">
          <label for="system.upkeep" class="bold">{{localize 'arm5e.lab.upkeep'}}</label>
          <input
            type="number"
            name="system.upkeep"
            value="{{ system.upkeep }}"
            data-dtype="Number"
            class="numberformat select-on-focus"
            {{
            noEdit
            }}
          />
        </div>
        <div class="resource">
          <label class="bold">{{localize 'arm5e.sheet.constructionPoints'}}</label>
          <input
            type="number"
            name="system.buildPoints"
            value="{{ system.buildPoints }}"
            data-dtype="Number"
            class="numberformat select-on-focus"
            {{
            noEdit
            }}
          />
        </div>
      </div>

      <div class="grid grid-2col" style="margin-top: 8px">
        <div class="resource">
          <label class="bold">{{localize 'arm5e.lab.usage.label'}}</label>
          <select name="system.usage" data-type="String" {{ noSelect }}>
            {{selectOptions config.lab.usage selected=system.usage labelAttr='label' localize=true}}
          </select>
        </div>
      </div>
    </div>

    {{#if isOwned}}
    <div class="item-controls">
      <a
        class="item-control item-delete-confirm"
        data-action="itemDeleteConfirm"
        title="{{localize 'arm5e.hints.delete' item=(localize 'TYPES.Item.labCovenant')}}"
        ><i class="ars-Icon_Delete_Hand_Gesture"></i
      ></a>
    </div>
    {{/if}}
  </header>
  <div class="marginItemPart">{{> "systems/arm5e/templates/generic/metalic-bar.html" }}</div>
</div>
