<div class="sheet-header-part">
  <div class="header-background">
    <img src="systems/arm5e/assets/item/{{ flavor }}_header.png" />
  </div>
  <header class="sheet-header marginItemPart">
    <div class="flexcol" style="max-width: 150px">
      <img
        class="item-img"
        src="{{ item.img }}"
        data-action="editImage"
        data-edit="img"
        data-tooltip="<img
        class='img-tooltip'
        src='{{ item.img }}'/>"
        data-tooltip-direction="CENTER"
        title="{{ item.name }}"
      />
      {{> "systems/arm5e/templates/item/parts/cost.hbs" classes="fit"}}
      <div class="flexrow">
        {{#if isGM}}
        <div class="resource">
          <label>{{localize 'arm5e.sheet.state.label'}}</label>
          <input
            type="text"
            value="{{localize (lookup config.lab.enchantment.receptacle.state system.state)}}"
            data-dtype="String"
            readonly
            class="max-w-200"
          />
        </div>
        {{/if}}
      </div>
    </div>
    <div class="flexcol flex-1">
      <div class="header-fields">
        <h1 class="bigname flexrow no-wrap">
          <input
            name="name"
            type="text"
            value="{{ item.name }}"
            placeholder="Name"
            title="{{ item.name }}"
          />
        </h1>
        <div class="flexrow nowrap max-w-fit flex-group-center">
          {{#if isOwned}}
          <a
            class="item-control"
            data-action="itemDeleteConfirm"
            title="{{localize 'arm5e.hints.delete' item=item.name}}"
            ><i class="ars-Icon_Delete_Hand_Gesture"></i
          ></a>
          {{/if}}
          {{#if isGM}}
          <a
            class="item-control padding2"
            data-action="enchantmentToggle"
            title="{{localize 'arm5e.lab.enchantment.item.enable'}}"
            ><img
              src="systems/arm5e/assets/icons/Icon_Details_option1.png"
              style="border: 0px; width: 24px; height: 24px"
          /></a>
          {{/if}}
          <a
            class="item-control padding10"
            data-action="createTableOfContents"
            title="{{localize 'arm5e.hints.create' item=(localize 'arm5e.book.tableContents')}}"
            ><i class="ars-Icon_Edit"></i
          ></a>
        </div>
        <div class="flexrow nowrap flex-group-center">
          <div class="pl-10 max-w-25">
            <a
              class="item-control"
              data-action="addTopic"
              title="{{localize 'arm5e.hints.add' item=(localize 'arm5e.book.topic')}}"
              data-index="{{ topicIdx }}"
              ><i class="fas fa-plus fa-xl"></i
            ></a>
          </div>
          {{#if topicNum}}
          <a
            class="item-control book-control-spacing-alt"
            data-action="removeTopic"
            title="{{localize 'arm5e.hints.delete' item=(localize 'arm5e.book.topic')}}"
            data-index="{{ topicIdx }}"
            ><i class="ars-Icon_Delete_Hand_Gesture"></i
          ></a>
          {{#unless (eq currentTopic.category 'labText')}}
          <a
            class="book-control-spacing"
            data-action="planReading"
            title="{{localize 'arm5e.hints.read' item=(localize 'arm5e.sheet.book')}}"
            data-index="{{ topicIdx }}"
            ><i class="ars-Icon_Readspell"></i
          ></a>
          {{else}}
          {{#if isOwned}}
          <a
            class="book-control-spacing"
            data-action="planReading"
            title="{{localize 'arm5e.hints.read' item=(localize 'arm5e.sheet.book')}}"
            data-index="{{ topicIdx }}"
            ><i class="ars-Icon_Readspell"></i
          ></a>
          {{/if}}
          {{/unless}}
          <a
            class="book-control-spacing"
            data-action="planCopy"
            title="{{localize 'arm5e.hints.copy' item=(localize 'arm5e.sheet.book')}}"
            data-index="{{ topicIdx }}"
            ><i class="ars-Icon_Copy"></i
          ></a>
          {{/if}}
        </div>
        <div class="flexrow">
          {{#if topicNum}}
          <div class="flexrow flex-group-center nowrap">
            <div class="img-container">
              <img
                class="nav-arrow book-nav-arrow clickable"
                data-action="previousTopic"
                data-index="{{ topicIdx }}"
                src="systems/arm5e/assets/bLeft.png"
              />
            </div>
            <div class="book-center-nav">
              <label
                >{{localize 'arm5e.sheet.topics.current' current=currentTopicNumber total=topicNum}}</label
              >
            </div>
            <div class="img-container">
              <img
                class="nav-arrow book-nav-arrow clickable"
                data-action="nextTopic"
                data-index="{{ topicIdx }}"
                src="systems/arm5e/assets/bRight.png"
              />
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
  <div class="marginItemPart">{{> "systems/arm5e/templates/generic/metalic-bar.html"}}</div>
</div>
