<div class="sheet-header-part">
  <div class="header-background">
    <img src="{{systemPath}}assets/item/{{ flavor }}_header.png" />
  </div>
  <header class="sheet-header marginItemPart">
    <img
      class="item-img profile-img"
      src="{{ item.img }}"
      data-edit="img"
      title="{{ item.name }}"
    />
    <div class="header-fields flexcol">
      <h1 class="bigname">
        <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
      </h1>

      {{!-- Shared: category select --}}
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.skill.category.label'}}</label>
          <select
            name="system.category"
            data-type="String"
            data-action="changeCategory"
            {{ui.canSelect}}
          >
            {{selectOptions inhabitantCategory selected=system.category labelAttr='label' localize=true}}
          </select>
        </div>
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.points'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.points"
            value="{{ system.points }}"
            data-dtype="Number"
          />
        </div>
      </div>

      {{!-- magi: job, yearBorn, giftType, loyalty --}}
      {{#if (eq system.category 'magi')}}
      <div class="resource flexcol">
        <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
        <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
      </div>
      <div class="grid grid-2col">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
            {{ui.canEdit}}
          />
        </div>
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.giftType'}}</label>
          <select name="system.giftType" data-type="String">
            {{selectOptions config.covenant.gift selected=system.giftType labelAttr='label' localize=true}}
          </select>
        </div>
      </div>
      <div class="resource flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.loyalty'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.loyalty"
            value="{{ system.loyalty }}"
            data-dtype="String"
          />
        </div>
      </div>

      {{!-- companions: job, yearBorn, score, loyalty --}}
      {{else if (eq system.category 'companions')}}
      <div class="resource flexcol">
        <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
        <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
      </div>
      <div class="grid grid-2col">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            type="text"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
            {{ui.canEdit}}
          />
        </div>
        {{#if (eq system.companionRole 'craftsman')}}
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.score'}}</label>
          <input type="text" name="system.score" value="{{ system.score }}" data-dtype="Number" />
        </div>
        {{/if}}
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">Covenant role</label>
          <select name="system.companionRole" data-type="String">
            {{selectOptions companionRoles selected=system.companionRole labelAttr='label' localize=true}}
          </select>
        </div>
        {{#if (eq system.companionRole 'craftsman')}}
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.fieldOfWork'}}</label>
          <select name="system.fieldOfWork" data-type="String">
            {{selectOptions config.covenant.fieldOfWork selected=system.fieldOfWork localize=true}}
          </select>
        </div><div class="resource flexcol flex0 flex-center">
          <label class="bold">{{localize 'arm5e.sheet.specialist'}}</label>
          <div class="flexrow flex-group-center">
            <input type="checkbox" name="system.isSpecialist" {{checked system.isSpecialist}} />
          </div>
        </div>
        <div class="resource flexcol">
          <label class="bold">Linked ability</label>
          <select name="system.syncAbilityId" data-type="String">
            {{selectOptions craftSyncAbilities selected=system.syncAbilityId}}
          </select>
        </div>
        {{else if (eq system.companionRole 'teacher')}}
        <div class="resource flexcol">
          <label class="bold">{{localize companionSpecialistChar}}</label>
          <input class="select-on-focus" type="number" name="system.specialistChar" value="{{ system.specialistChar }}"
            data-dtype="Number" />
        </div>
        <div class="resource flexcol">
          <label class="bold">{{localize companionSpecialistAbility}}</label>
          <input class="select-on-focus" type="number" name="system.teacherScore" value="{{ system.teacherScore }}"
            data-dtype="Number" />
        </div>
        {{else if (or (eq system.companionRole 'steward') (eq system.companionRole 'chamberlain') (eq
        system.companionRole 'turbCaptain'))}}
        <div class="resource flexcol">
          <label class="bold">{{localize companionSpecialistChar}}</label>
          <input class="select-on-focus" type="number" name="system.specialistChar" value="{{ system.specialistChar }}"
            data-dtype="Number" />
        </div>
        {{/if}}
      </div>
      <div class="resource flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.loyalty'}}</label>
          <input
            type="text"
            name="system.loyalty"
            value="{{ system.loyalty }}"
            data-dtype="String"
          />
        </div>
      </div>

      {{!-- specialists: yearBorn, job, score/specialist details, specialistType, fieldOfWork --}}
      {{else if (eq system.category 'specialists')}}
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            type="text"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
          />
        </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
          <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
        </div>
        {{#unless ui.details}}
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.score'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.score"
            value="{{ system.score }}"
            data-dtype="Number"
          />
        </div>
        {{/unless}}
      </div>
      {{#if ui.details}}
      <div class="flexrow">
        <div class="resource">
          <label class="bold">{{localize specialistChar}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.specialistChar"
            value="{{ system.specialistChar }}"
            data-dtype="Number"
          />
          <label class="bold">{{localize specialistAbility}}</label>
          {{#if ui.teacherDetails}}
          <input
            class="select-on-focus"
            type="number"
            name="system.teacherScore"
            value="{{ system.teacherScore }}"
            data-dtype="Number"
          />
          {{else}}
          <input
            class="select-on-focus"
            type="number"
            name="system.score"
            value="{{ system.score }}"
            data-dtype="Number"
          />
          {{/if}}
        </div>
      </div>
      {{/if}}
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.type'}}</label>
          <select name="system.specialistType" data-type="String">
            {{selectOptions config.covenant.specialists selected=system.specialistType labelAttr='label' localize=true}}
          </select>
        </div>
        {{#if (eq system.specialistType 'other')}}
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.fieldOfWork'}}</label>
          <select name="system.fieldOfWork" data-type="String">
            {{selectOptions config.covenant.fieldOfWork selected=system.fieldOfWork localize=true}}
          </select>
        </div>
        {{/if}}
      </div>

      {{!-- craftsmen: yearBorn, job, score, fieldOfWork, loyalty --}}
      {{else if (eq system.category 'craftsmen')}}
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            type="text"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
          />
        </div>
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.loyalty'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.loyalty"
            value="{{ system.loyalty }}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
          <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
        </div>
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.score'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.score"
            value="{{ system.score }}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.fieldOfWork'}}</label>
          <select name="system.fieldOfWork" data-type="String">
            {{selectOptions config.covenant.fieldOfWork selected=system.fieldOfWork localize=true}}
          </select>
        </div><div class="resource flexcol flex0 flex-center">
          <label class="bold">{{localize 'arm5e.sheet.specialist'}}</label>
          <div class="flexrow flex-group-center">
            <input type="checkbox" name="system.isSpecialist" {{checked system.isSpecialist}} />
          </div>
        </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">Linked ability</label>
          <select name="system.syncAbilityId" data-type="String">
            {{selectOptions craftSyncAbilities selected=system.syncAbilityId}}
          </select>
        </div>
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.quantity'}}</label>
          <input class="select-on-focus" type="number" name="system.quantity" value="{{ system.quantity }}"
            data-dtype="Number" />
        </div>
        <div class="resource flexcol flex0 flex-center">
          <label class="bold">{{localize 'arm5e.sheet.specialist'}}</label>
          <div class="flexrow flex-group-center">
            <input type="checkbox" name="system.isSpecialist" {{checked system.isSpecialist}} />
          </div>
        </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">Linked ability</label>
          <select name="system.syncAbilityId" data-type="String">
            {{selectOptions craftSyncAbilities selected=system.syncAbilityId}}
          </select>
        </div>
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.quantity'}}</label>
          <input class="select-on-focus" type="number" name="system.quantity" value="{{ system.quantity }}"
            data-dtype="Number" />
        </div>
      <div class="resource flexcol flex0 flex-center">
        <label class="bold">{{localize 'arm5e.sheet.specialist'}}</label>
        <div class="flexrow flex-group-center">
          <input type="checkbox" name="system.isSpecialist" {{checked system.isSpecialist}} />
        </div>
      </div>
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">Linked ability</label>
          <select name="system.syncAbilityId" data-type="String">
            {{selectOptions craftSyncAbilities selected=system.syncAbilityId}}
          </select>
        </div>
        <div class="resource flexcol flex0">
          <label class="bold">{{localize 'arm5e.sheet.quantity'}}</label>
          <input class="select-on-focus" type="number" name="system.quantity" value="{{ system.quantity }}"
            data-dtype="Number" />
        </div>
      </div>

      {{!-- horses/livestock: job, yearBorn, quantity --}}
      {{else if (or (eq system.category 'horses') (eq system.category 'livestock'))}}
      <div class="resource flexcol">
        <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
        <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            type="number"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
          />
        </div>
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.quantity'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.quantity"
            value="{{ system.quantity }}"
            data-dtype="Number"
          />
        </div>
      </div>

      {{!-- turbula/servants/laborers/teamsters/dependants: job, yearBorn, quantity, loyalty --}}
      {{else}}
      <div class="resource flexcol">
        <label class="bold">{{localize 'arm5e.sheet.job'}}</label>
        <input type="text" name="system.job" value="{{ system.job }}" data-dtype="String" />
      </div>
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.yearBorn'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.yearBorn"
            value="{{ system.yearBorn }}"
            data-dtype="String"
            {{ui.canEdit}}
          />
        </div>
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.quantity'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.quantity"
            value="{{ system.quantity }}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="resource flexrow">
        <div class="resource flexcol">
          <label class="bold">{{localize 'arm5e.sheet.loyalty'}}</label>
          <input
            class="select-on-focus"
            type="number"
            name="system.loyalty"
            value="{{ system.loyalty }}"
            data-dtype="Number"
            {{ui.canSelect}}
          />
        </div>
      </div>
      {{/if}}
    </div>
    {{#if editable}}
    <a data-action="itemDeleteConfirm" title="{{localize 'arm5e.hints.delete' item=item.name}}"
      ><i class="ars-Icon_Delete_Hand_Gesture item-delete-large"></i
    ></a>
    {{/if}}
  </header>
  <div class="marginItemPart">{{> (systemPath "templates/generic/metalic-bar.html") }}</div>
</div>
