<section class="sheet-body-part sheet-body marginItemPart">
  <div class="tab {{ tab.cssClass }}" data-group="primary" data-tab="description">
    <div class="flexcol">
      {{#unless altArt}}
      <div class="resource flexrow ability-key-row">
        <div class="flexcol ability-key-field">
          <label>{{localize 'arm5e.sheet.skill.abilityKey'}}</label>
          <select
            class="change-abilitykey ability-key-slim"
            name="system.key"
            data-dtype="String"
            data-action="changeAbilityKey"
          >
            {{selectOptions abilityKeysList selected=system.key labelAttr='label'}}
          </select>
        </div>
        {{#if ui.hasOption}}
        <div class="flexcol ability-option-field">
          <label class="padding2">{{localize 'arm5e.sheet.skill.abilityOption'}}</label>
          <div class="flexrow">
            <input
              type="text"
              name="system.option"
              value="{{ system.option }}"
              title="{{ system.option }}"
              class="ability-option"
              style="width: 150px"
              {{ui.optionLocked}}
            />
            <div style="padding-top: 3px; padding-left: 3px; max-width: 15px">
              <a
                class="flexrow0 option-link"
                data-action="toggleOptionLink"
                title="{{#if system.optionLinked}}Linked to name{{else}}Free form{{/if}}"
                ><i class="fas {{#if system.optionLinked}}fa-link{{else}}fa-unlink{{/if}} fa-sm"></i
              ></a>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
      {{/unless}}
      {{> 'systems/arm5e/templates/generic/ars-editor-V2.hbs'
      content=enrichedDescription
      target='system.description'
      editable=editable
      }}
    </div>
  </div>
  {{#if metagame.view }}
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{> "systems/arm5e/templates/generic/source.html" }}
  {{/if}}
</section>
