<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">{{localize "arm5e.sheet.quickness"}}
    ({{system.characteristics.qik.value}})</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="ability">{{localize "arm5e.sheet.ability"}}
    ({{system.combat.ability}})</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="defense">{{localize "arm5e.sheet.defense"}}
    ({{system.combat.dfn}})</label>
</div>