<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">{{localize "arm5e.sheet.dexterity"}}
    ({{system.characteristics.dex.value}})</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="ability">{{localize "arm5e.sheet.ability"}}
    ({{system.combat.ability}})</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="attack">{{localize "arm5e.sheet.attack"}}
    ({{system.combat.atk}})</label>
</div>